.hover-scale:hover {
  animation: myAnim 0.3s ease 0s 1 normal forwards;
  cursor: pointer;
}
@keyframes myAnim {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-30px);
  }
}
