.vacation-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #000;
}
.vacation-table th,
.vacation-table td {
  border: 1px solid #1d1c1c;
  text-align: center;
  font-size: larger;
}

.vacation-table-header {
  background-color: #8b8989;
  font-weight: bold;
}

.vacation-page {
  width: 1280px;
}
.vacation-table tr {
  height: 40px;
}
